<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.6/angular.min.js"></script>
<script src="js/angular.min.js" type="text/javascript"></script>
<script src="js/jquery.min.js" type="text/javascript"></script>
<link rel="stylesheet" href="css/grid.css" />
</head>
<body>
<div ng-app="myApp">
  <div ng-controller="myController">

    <div>
      <input type="button" value="TREE MODEL 1" data-ng-click="roleList = roleList1" /> <input type="button" value="TREE MODEL 2" data-ng-click="roleList = roleList2" />
    </div>

    <div style="margin:10px 0 30px 0; padding:10px; background-color:#EEEEEE; border-radius:5px; font:12px Tahoma;">
      <span><b>Selected Node</b> : {{currentNode.roleName}}</span>
    </div>

    <!--
      [TREE attribute]
      angular-treeview: the treeview directive
      tree-model : the tree model on $scope.
      node-id : each node's id
      node-label : each node's label
      node-children: each node's children
    -->
    <div
      data-angular-treeview="true"
      data-tree-model="roleList"
      data-node-id="roleId"
      data-node-label="roleName"
      data-node-children="children" >
    </div>

  </div>
</div>
<script>
(function(){
	  
	  //angular module
	  var myApp = angular.module('myApp', ['angularTreeview']);

	  //test controller
	  myApp.controller('myController', function($scope){

	  	//test tree model 1
	    $scope.roleList1 = [
	        { "roleName" : "User", "roleId" : "role1", "children" : [
	          { "roleName" : "subUser1", "roleId" : "role11", "children" : [] },
	          { "roleName" : "subUser2", "roleId" : "role12", "children" : [
	            { "roleName" : "subUser2-1", "roleId" : "role121", "children" : [
	              { "roleName" : "subUser2-1-1", "roleId" : "role1211", "children" : [] },
	              { "roleName" : "subUser2-1-2", "roleId" : "role1212", "children" : [] }
	            ]}
	          ]}
	        ]},

	        { "roleName" : "Admin", "roleId" : "role2", "children" : [] },

	        { "roleName" : "Guest", "roleId" : "role3", "children" : [] }
	      ];

	  	//test tree model 2
	    $scope.roleList2 = [
	        { "roleName" : "User", "roleId" : "role1", "children" : [
	          { "roleName" : "subUser1", "roleId" : "role11", "collapsed" : true, "children" : [] },
	          { "roleName" : "subUser2", "roleId" : "role12", "collapsed" : true, "children" : [
	            { "roleName" : "subUser2-1", "roleId" : "role121", "children" : [
	              { "roleName" : "subUser2-1-1", "roleId" : "role1211", "children" : [] },
	              { "roleName" : "subUser2-1-2", "roleId" : "role1212", "children" : [] }
	            ]}
	          ]}
	        ]},

	        { "roleName" : "Admin", "roleId" : "role2", "children" : [
	          { "roleName" : "subAdmin1", "roleId" : "role11", "collapsed" : true, "children" : [] },
	          { "roleName" : "subAdmin2", "roleId" : "role12", "children" : [
	            { "roleName" : "subAdmin2-1", "roleId" : "role121", "children" : [
	              { "roleName" : "subAdmin2-1-1", "roleId" : "role1211", "children" : [] },
	              { "roleName" : "subAdmin2-1-2", "roleId" : "role1212", "children" : [] }
	            ]}
	          ]}
	        ]},

	        { "roleName" : "Guest", "roleId" : "role3", "children" : [
	          { "roleName" : "subGuest1", "roleId" : "role11", "children" : [] },
	          { "roleName" : "subGuest2", "roleId" : "role12", "collapsed" : true, "children" : [
	            { "roleName" : "subGuest2-1", "roleId" : "role121", "children" : [
	              { "roleName" : "subGuest2-1-1", "roleId" : "role1211", "children" : [] },
	              { "roleName" : "subGuest2-1-2", "roleId" : "role1212", "children" : [] }
	            ]}
	          ]}
	        ]}
	      ];

	      
	      
	    //roleList1 to treeview
	    $scope.roleList = $scope.roleList1;
	  
	  });
	  
	})();


	/*
	    angular.treeview.js
	*/
	(function(l){l.module("angularTreeview",[]).directive("treeModel",function($compile){return{restrict:"A",link:function(a,g,c){var e=c.treeModel,h=c.nodeLabel||"label",d=c.nodeChildren||"children",k='<ul><li data-ng-repeat="node in '+e+'"><i class="collapsed" data-ng-show="node.'+d+'.length && node.collapsed" data-ng-click="selectNodeHead(node, $event)"></i><i class="expanded" data-ng-show="node.'+d+'.length && !node.collapsed" data-ng-click="selectNodeHead(node, $event)"></i><i class="normal" data-ng-hide="node.'+
	d+'.length"></i> <span data-ng-class="node.selected" data-ng-click="selectNodeLabel(node, $event)">{{node.'+h+'}}</span><div data-ng-hide="node.collapsed" data-tree-model="node.'+d+'" data-node-id='+(c.nodeId||"id")+" data-node-label="+h+" data-node-children="+d+"></div></li></ul>";e&&e.length&&(c.angularTreeview?(a.$watch(e,function(m,b){g.empty().html($compile(k)(a))},!1),a.selectNodeHead=a.selectNodeHead||function(a,b){b.stopPropagation&&b.stopPropagation();b.preventDefault&&b.preventDefault();b.cancelBubble=
	!0;b.returnValue=!1;a.collapsed=!a.collapsed},a.selectNodeLabel=a.selectNodeLabel||function(c,b){b.stopPropagation&&b.stopPropagation();b.preventDefault&&b.preventDefault();b.cancelBubble=!0;b.returnValue=!1;a.currentNode&&a.currentNode.selected&&(a.currentNode.selected=void 0);c.selected="selected";a.currentNode=c}):g.html($compile(k)(a)))}}})})(angular);
</script>
</body>
</html>